/* .blog_area {
    border:3px solid rgb(66, 6, 233);
    border-radius: 15px;
    background-color: aquamarine;
    padding:20px;
    margin-bottom: 20px;
    margin:15px;
}
.blog-container {
    max-width: 900px;
    margin:0 auto;
    margin-top: 40px;
} */